
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	font-size: 10px;
}

div i, .content header, #bar, #pad {
	font-size: 25px;
}

div i, input[type="text"], .content header {
	color: white;
}

div i {
	border-radius: 6px 6px;
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	position: relative;
	text-align: center;
}

div i:before {
	position: relative;
	top: 0.3em;
}

input[type="text"], #connect, .button {
	width: 100%;
	border-radius: 6px;
	background-image: none;
}

input[type="text"] {
	border: 2px solid white;
	background-color: transparent;
	padding: 8px 0px 9px 10px;
	font-size: 16.5px;
}

#connect, .button {
	border: medium none;
	padding-bottom: 12px;
	padding-top: 13px;
}

#connect {
	background-color: #2ecc71;
	color: white;
}

#connect.connecting {
	background-color: #f1c40f;
}

#connect.connected {
	background-color: #e74c3c;
}

.button {
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: rgb(236, 240, 241);
	color: rgb(52, 73, 94);
}

input {
	margin-bottom: 0.5em;
}

form {
	margin: 0;
}

#pad, #bar {
	position: relative;
	padding: 0.5em;
}

.content header, #bar {
	margin-bottom: 1em;
}

#bar {
	text-align: center;
}

#bar #home { float: left; }
#bar #stop { float: right; }

.drawer .drawers .top {
	height: auto;
	max-height: none;
}

.content header, #pad, #bar {
	background-color: #ecf0f1;
}

.drawer .drawers > *, div i {
	background-color: #34495e;
}

.drawer .drawers > * {
	padding: 5%;
}

.drawer > .content {
	position: relative;
}

.drawer > .drawers > .top {
	position: absolute;
}

.content header {
	width: 100%;
	height: 1.5em;
}

#settings {
	position: absolute;
	right: 0;
	top: 0;
}

#settings i {
	border-radius: 0;
}

#settings i:before {
	top: 0.25em;
}

#pad > div {
	width: 90%;
	position: absolute;
	left: auto;
	height: 1.5em;
	z-index: 9;
}

#pad > * > * {
	display: inline-block;
	text-align: center;
	position: absolute;
	width: 33%;
}

#Left, #Back {
	text-align: left;
}

#Right {
	right: 0;
	text-align: right;
}

#Up, #Select, #Down {
	text-align: center;
	left: 33%;
}

#pad > .middle {
	position: absolute;
	top: 50%;
	margin-top: -0.75em;
}

#pad > .bottom {
	position: absolute;
	left: auto;
	bottom: 5%;
}

@media (min-width: 0px) {
	html {
		font-size: 25px;
	}
	
	div i, .content header, #bar, #pad {
		font-size: 30px;
	}
}

@media (min-width: 0px) {
	#pad, #bar {
		width: 85%;
		left: 7.5%;
		border-radius: 6px;
	}
	
	html {
		font-size: 30px;
	}
	
	div i, .content header, #bar, #pad {
		font-size: 35px;
	}
}

@media (min-width: 450px) {
	#pad, #bar {
		width: 400px;
		left: 50%;
		margin-left: -200px;
	}
}
